<div class="container">
    <form>
        <h1>Login</h1>
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="username" placeholder="Username" [(ngModel)]="user.username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password">
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                Remember me
            </label>
        </div>
        <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
        <button type="submit" class="btn btn-primary" (click)="facebookLogin()">Login facebook</button>
    </form>
</div>