<div class="container">
    <div class="form-group row">
        <label for="title" class="col-2 col-form-label">Title</label>
        <div class="col-10">
            <input type="text" class="form-control" placeholder="Title..." id="title" [(ngModel)]="message.title">
        </div>        
    </div>
    <div class="form-group row">
        <label for="content" class="col-2 col-form-label">Content</label>
        <div class="col-10">
            <textarea id="content" rows="4" class="form-control" placeholder="Text..." [(ngModel)]="message.content"></textarea>
        </div>
    </div>
</div>