<div class="container">
    <div class="home">
        <h1>Memories</h1>
        <p>Gli uomini della Destra non hanno canzoni sull'amore Cause all i want is marò yeah all I want is marò perché tutto ciò che voglio sono i Marò sì tutto quello che voglio sono i Marò</p>
        <button class="btn btn-primary btn-large pointer" [routerLink]="['/message', 0]">Add message</button>
    </div>
    <div class="row">
        <div [routerLink]="['/message', mess.id]" class="col-4 card" *ngFor="let mess of messages">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{mess.getTitle()}}</h5>
                <small>{{mess.getSendDate()}}</small>
            </div>
            <p class="mb-1">{{mess.getContent()}}</p>
        </div>
    </div>
    
</div>