.container{
    background-color: #eeeeee;
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
}

.card{
    padding: 5px 10px 5px 10px;
    opacity:0.80;
    filter:alpha(opacity=80);
    margin-bottom: 5px;
    cursor: pointer;
}

.home{
    margin-bottom: 10px;
}

.pointer{
    cursor: pointer;
}
  